@{
    ViewBag.Title = "Blow Out!";
}

<div class="banner">
    <div class="jumbotron">
        <div class="banner-heading">
            <h1>Welcome to Blow Out!</h1>
            <p class="lead">We blow our competitors out of the water</p>
            <p>Pick from our wide assortment of new and used instruments today.</p>
            <p><a href="rentals" class="btn btn-primary btn-lg">Shop Now &raquo;</a></p>
        </div>
        <div class="body-content">
            
            <h3>"It's easy to play any musical instrument: all you have to do is touch the right key at the right time and the instrument will play itself”.  - Johann Sebastian Bach</h3>
        </div>
       </div>
</div>