
@{
    ViewBag.Title = "Rentals";
}

<h2>Rentals</h2>

<div class="img-thumbnail">
    <img src="~/Images/trumpet.jpg" alt="Trumpet" />
</div>

<div class="img-thumbnail">
    <img src="~/Images/clarinet.jpg" alt="Clarinet" />
</div>

<div class="img-thumbnail">
    <img src="~/Images/tuba.jpg" alt="Tuba" />
</div>

<div class="img-thumbnail">
    <img src="~/Images/trombone.jpg" alt="Trombone" />
</div>

<div class="img-thumbnail">
    <img src="~/Images/saxophone.jpg" alt="Saxophone" />
</div>

<div class="img-thumbnail">
    <img src="~/Images/clarinet.jpg" alt="Clarinet" />
</div>

<div class="img-thumbnail">
    <img src="~/Images/flute.jpg" alt="Flute" />
</div>